<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <header>
            <h1 ><a href="/">hazn</a></h1>
        </header>
        <hr>
    </nav>
    <!-- Main Content -->
    {{ content }}
</body>
<link rel="stylesheet" href="/styles.css">
</html>
