<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <header>
            <h1 ><a href="/">hazn</a></h1>
        </header>
        <hr>
    </nav>
    <!-- Main Content -->
    {{ content }}
</body>
<style>
      @font-face {
            font-family: 'GeistMono';
            src: url('./fonts/GeistMono-UltraLight.woff2') format('woff2');
            font-weight: 100;
        }
        @font-face {
            font-family: 'GeistMono';
            src: url('./fonts/GeistMono-Thin.woff2') format('woff2');
            font-weight: 200;
        }
        @font-face {
            font-family: 'GeistMono';
            src: url('./fonts/GeistMono-Light.woff2') format('woff2');
            font-weight: 300;
        }
        @font-face {
            font-family: 'GeistMono';
            src: url('./fonts/GeistMono-Regular.woff2') format('woff2');
            font-weight: 400;
        }
        @font-face {
            font-family: 'GeistMono';
            src: url('./fonts/GeistMono-Medium.woff2') format('woff2');
            font-weight: 500;
        }
        @font-face {
            font-family: 'GeistMono';
            src: url('./fonts/GeistMono-SemiBold.woff2') format('woff2');
            font-weight: 600;
        }
        @font-face {
            font-family: 'GeistMono';
            src: url('./fonts/GeistMono-Bold.woff2') format('woff2');
            font-weight: 700;
        }
        @font-face {
            font-family: 'GeistMono';
            src: url('./fonts/GeistMono-Black.woff2') format('woff2');
            font-weight: 800;
        }
        @font-face {
            font-family: 'GeistMono';
            src: url('./fonts/GeistMono-UltraBlack.woff2') format('woff2');
            font-weight: 900;
        }

    /* basic setup */
    body {
        max-width: 70ch;
        line-height:1.75;
        font-family: 'GeistMono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
        font-weight: normal;
        /* hack to make scrollbar appear on all pages */
        height: 101%;
        /* center  conent */
        margin: 0;
        margin-inline: auto;
        /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
        font-size: clamp(1.25em, 0.909em + 0.45vmin, 1.5em);
        /* no padding, no margin */
        padding: 0;
    }


    /* increase line-height for everything except headings */
    body :not(:is(h1,h2,h3,h4,h5,h6)) {
      line-height: 1.75;
    }

    /* navigation grey and no margin */
    nav {
        background-color: #f8f9fa;
        margin: 0;
    }
    nav header {
        /* center inner h1 vertically and horizontally */
        display: flex;
        justify-content: center;
        align-items: center;
        /* no margin */
        margin: 0;
    }

    header h1 {
        margin: 0;
    }

    header a {
        text-decoration: none;
        color: black;
    }

    header hr {
        /* no border */
        border: none;
        width: 100%;
    }


    /* for printing, make padding higher and fontsize smaller */
    @media print {
        html {
            padding: 6em;
            font-size: 10pt !important;
        }
    }

</html>
